@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Biotif';
  src:
    local('Biotif Regular'),
    local('Biotif-Regular'),
    url('src/assets/fonts/Biotif-Regular.woff2') format('woff2'),
    url('src/assets/fonts/Biotif-Regular.woff') format('woff'),
    url('src/assets/fonts/Biotif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzerit Grotesk';
  src:
    local('Neuzerit Grotesk Regular'),
    local('Neuzerit-Grotesk-Regular'),
    url('src/assets/fonts/Neuzerit Grotesk Regular.otf') format('opentype');
}
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  border: 1px solid yelloow;
}

.active {
  color: white;
}
.active::after {
  width: 20px;
}
body {
  background-color: #030303;
}

h1,
a,
h2,
h3,
h4,
h5,
h6,
button,
p {
  font-family: 'Montserrat', serif;
  color: white;
}
